:root {
    --color-green: #3fb84f;
    --color-cinza: #333;
}

/*Reset da pagina padrao do browser*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    width:100%;
}
header {
    padding-top: 32px;
    border-bottom: 1px solid var(--color-cinza);
    background: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-green);
    transition: color 300ms;
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    border-radius: 50%;
    border: 3px solid var(--color-green);
    margin-bottom: 32px;
    height: 200px;
}

#wrapper h1 {
    font-size: 38px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p {
    max-width: 500px; 
    margin: 28px auto;
    font-size: 20px;
    line-height: 34px;
}

#wrapper h2 a {
    color: var(--color-green);
}

#links-footer a {
    border-bottom: 1px solid var(--color-green);
}

/*=== Cards ===*/

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 15px;
}

.card {
    background-color: var(--color-cinza);
}

.card_image-container img {
    width: 100%;
}

.card_content, 
.card_info {
    padding: 24px;
}

.card_info {
display: grid;
grid-template-columns: 1fr 1fr;
}

.card_price {
background-color: var(--color-cinza);
filter: brightness(90%);
padding: 5px 20px;
border-radius: 20px;
text-align: center;
}

/*  button */

form input[type=submit] {
	background-color: var(--color-green);
	color: #FFF;
	text-decoration: none;
	padding: 20px 40px;
	transition: .5s;
	display: block;	
	border: none;
	cursor: pointer;
    text-align: center;
}

form input[type=submit]:hover {
	background-color: #19723d;
}


/* contato */

#form-contato {
    width: 500px;
    padding-left: 33%;
    padding-right: 60vw;
    float:left;
}

#form-contato input[type=text], #form-contato input[type=email], #form-contato textarea {
	display: block;
	border: 1px solid var(--color-cinza);
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 16px;
	font-family: 'Open sans', sans-serif;
}

#form-contato input[type=text]:focus, #form-contato input[type=email]:focus, #form-contato textarea:focus {
    border-color:var(--color-cinza);
   
}

#form-contato textarea {
	height: 150px;
}

#form-contato ::placeholder {
	color: var(--color-cinza);
}

#form-contato input[type=submit] {
	margin-left: 0;
	font-size: 16px;
	width: 180px;
}


/*Zoom na imagem*/
.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

#DivLateral{
    position:relative;
    float: left;
    border-width:2px;
    width:300px;
    height: 700px;
    
    }
    
    /* The Close Button */
    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -3px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    
    .close:hover { background: var(--color-green); } 

    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }
    
    .modalDialog > div {
        width: 800px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
    }